In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# read in data
raw = pd.read_csv('status.csv', index_col=0)
raw.head(13)

In [ ]:
colnames = ['Now married (except separated)', 'Widowed', 'Divorced', 'Separated', 'Never married']
years = [i for i in range(2010, 2024) if i != 2020]

In [ ]:
## convert data to correct type

df = pd.DataFrame()

# 'Year' from str to int
df['year'] = raw['Year'].astype(int)
df['sex'] = raw['Sex']
df['age'] = raw['Age']
df['total'] = raw['Total'].astype(int)

# marital status columns from str to float
df[colnames] = raw[colnames].apply(lambda x: x.astype(float) / 100)

df.head(13)

In [52]:
# female young adults
df_fya = df[(df['sex'] == 'F') & (df['age'] == '20+')]

df_fya_long = pd.melt(df_fya, id_vars=['year'], value_vars=colnames, var_name='Marital Status', value_name='Proportion')
df_fya_long

    year                  Marital Status  Proportion
0   2010  Now married (except separated)       0.367
1   2011  Now married (except separated)       0.354
2   2012  Now married (except separated)       0.347
3   2013  Now married (except separated)       0.340
4   2014  Now married (except separated)       0.337
..   ...                             ...         ...
60  2018                   Never married       0.616
61  2019                   Never married       0.618
62  2021                   Never married       0.630
63  2022                   Never married       0.635
64  2023                   Never married       0.637

[65 rows x 3 columns]

In [ ]:
## plot female young adults
plt.clf()
plt.figure()
sns.lineplot(data=df_fya_long, x='year', y='Proportion', hue='Marital Status')
plt.title('Female Young Adult Marital Status Over Time')
plt.xlabel('')
plt.ylabel('Estimated Population Proportion')
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
plt.xticks(np.arange(2010, 2023 + 1, 1))
plt.xticks(rotation=-90)
plt.savefig('Female Young Adult Marital Status Over Time.jpg', format='jpg', bbox_inches='tight')
plt.show()

In [ ]:
# female middle age adults
df_fma = df[((df['sex'] == 'F') & (df['age'] == '35+')) | ((df['sex'] == 'F') & (df['age'] == '45+'))]
print(df_fma)
for col in colnames:
    df_fma[col] = df_fma[col] * df_fma['total']
df_fma

In [ ]:
df_fma2 = pd.DataFrame()

for year in years:
    row1 = df_fma[(df_fma['year'] == year) & (df_fma['age'] == '35+')].iloc[0]
    row2 = df_fma[(df_fma['year'] == year) & (df_fma['age'] == '45+')].iloc[0]
    row_sum = row1[3:] + row2[3:]
    addrow = pd.DataFrame([row_sum], columns=row_sum.index)
    addrow.insert(0, 'age', 'Middle')
    addrow.insert(0, 'sex', 'F')
    addrow.insert(0, 'year', year)

    df_fma2 = pd.concat([df_fma2, addrow], ignore_index=True)

for col in colnames:
    df_fma2[col] = df_fma2[col] / df_fma2['total']

df_fma2

In [ ]:
# female middle age adults
df_fma2_long = pd.melt(df_fma2, id_vars=['year'], value_vars=colnames, var_name='Marital Status', value_name='Proportion')
df_fma2_long

In [ ]:
## plot female middle age adults
plt.clf()
plt.figure()
sns.lineplot(data=df_fma2_long, x='year', y='Proportion', hue='Marital Status')
plt.title('Female Middle-Aged Adult Marital Status Over Time')
plt.xlabel('')
plt.ylabel('Estimated Population Proportion')
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
plt.xticks(np.arange(2010, 2023 + 1, 1))
plt.xticks(rotation=-90)
plt.savefig('Female Middle-Aged Adult Marital Status Over Time.jpg', format='jpg',  bbox_inches='tight')
plt.show()

In [51]:
# female teens
df_ft = df[(df['sex'] == 'F') & (df['age'] == '15+')]

df_ft_long = pd.melt(df_ft, id_vars=['year'], value_vars=colnames, var_name='Marital Status', value_name='Proportion')
df_ft_long = df_ft_long.iloc[:52]
df_ft_long

    year                  Marital Status  Proportion
0   2010  Now married (except separated)       0.015
1   2011  Now married (except separated)       0.014
2   2012  Now married (except separated)       0.013
3   2013  Now married (except separated)       0.014
4   2014  Now married (except separated)       0.012
5   2015  Now married (except separated)       0.012
6   2016  Now married (except separated)       0.013
7   2017  Now married (except separated)       0.013
8   2018  Now married (except separated)       0.012
9   2019  Now married (except separated)       0.011
10  2021  Now married (except separated)       0.011
11  2022  Now married (except separated)       0.011
12  2023  Now married (except separated)       0.012
13  2010                         Widowed       0.000
14  2011                         Widowed       0.000
15  2012                         Widowed       0.000
16  2013                         Widowed       0.000
17  2014                         Widowed       0.000
18  2015                         Widowed       0.000
19  2016                         Widowed       0.000
20  2017                         Widowed       0.000
21  2018                         Widowed       0.000
22  2019                         Widowed       0.000
23  2021                         Widowed       0.000
24  2022                         Widowed       0.000
25  2023                         Widowed       0.000
26  2010                        Divorced       0.001
27  2011                        Divorced       0.001
28  2012                        Divorced       0.001
29  2013                        Divorced       0.001
30  2014                        Divorced       0.001
31  2015                        Divorced       0.000
32  2016                        Divorced       0.001
33  2017                        Divorced       0.001
34  2018                        Divorced       0.000
35  2019                        Divorced       0.001
36  2021                        Divorced       0.000
37  2022                        Divorced       0.000
38  2023                        Divorced       0.000
39  2010                       Separated       0.001
40  2011                       Separated       0.001
41  2012                       Separated       0.001
42  2013                       Separated       0.001
43  2014                       Separated       0.001
44  2015                       Separated       0.001
45  2016                       Separated       0.001
46  2017                       Separated       0.001
47  2018                       Separated       0.001
48  2019                       Separated       0.001
49  2021                       Separated       0.001
50  2022                       Separated       0.001
51  2023                       Separated       0.001

In [ ]:
## plot female young adults
plt.clf()
plt.figure()
sns.lineplot(data=df_ft_long, x='year', y='Proportion', hue='Marital Status')
plt.title('Female Teen Marital Status Over Time')
plt.xlabel('')
plt.ylabel('Estimated Population Proportion')
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
plt.xticks(np.arange(2010, 2023 + 1, 1))
plt.xticks(rotation=-90)
plt.savefig('Female Teen Marital Status Over Time.jpg', format='jpg', bbox_inches='tight')
plt.show()